body{
    margin: 0px;
    font-family: 'Quantico';
}
h1{
    font-size: 35px;
    font-family: 'Quantico';
    
    /* font-family: 'Port Lligat Slab';
    font-family: 'Markazi Text';*/
}
.top-font{
    color: rgb(23, 231, 51);
}

.name-highlight{
    color: rgb(51, 68, 161);
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 3%;
    margin-top: 1%;
    padding-left: 5%;
}
.half-width img{
    width: 85%;
    margin: 1%;
}
.top-banner{
    background-image: url("images/bg-4.jpg");
    background-repeat: no-repeat;
}
section{
    height: 410px;
}